<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jamsa.rap.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.github.jamsa.rap.model.User">

    <id column="WORK_TICKET_ID" jdbcType="DECIMAL" property="workTicketId" />
    <result column="TICKET_MODEL_CODE" jdbcType="VARCHAR" property="ticketModelCode" />
    <result column="STAUTS" jdbcType="VARCHAR" property="stauts" />
    <result column="MAIN_TICKET_ID" jdbcType="DECIMAL" property="mainTicketId" />
    <result column="DETAIL_CONTENT" jdbcType="VARCHAR" property="detailContent" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="EQUIP_KKS" jdbcType="VARCHAR" property="equipKks" />
    <result column="ISQUALIFIED" jdbcType="VARCHAR" property="isqualified" />
    <result column="SOURCE_ID" jdbcType="DECIMAL" property="sourceId" />
    <result column="SAME_STANDARD" jdbcType="VARCHAR" property="sameStandard" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId" />
    <result column="TICKET_NUMBER" jdbcType="VARCHAR" property="ticketNumber" />
    <result column="SERIAL_NUMBER" jdbcType="VARCHAR" property="serialNumber" />
    <result column="PAGE_COUNT" jdbcType="DECIMAL" property="pageCount" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="CREATE_MAN" jdbcType="VARCHAR" property="createMan" />
    <result column="WORKORDER_ID" jdbcType="VARCHAR" property="workorderId" />
    <result column="SIGN_MAN" jdbcType="VARCHAR" property="signMan" />
    <result column="SIGN_TIME" jdbcType="DATE" property="signTime" />
    <result column="SIGN_MAN_DEPT" jdbcType="VARCHAR" property="signManDept" />
    <result column="RECEIVE_MAN" jdbcType="VARCHAR" property="receiveMan" />
    <result column="RECEIVE_MAN_DEPT" jdbcType="VARCHAR" property="receiveManDept" />
    <result column="RECEIVE_TIME" jdbcType="DATE" property="receiveTime" />
    <result column="PERMIT_MAN" jdbcType="VARCHAR" property="permitMan" />
    <result column="PERMIT_TIME" jdbcType="DATE" property="permitTime" />
    <result column="PERMIT_MAN_DEPT" jdbcType="VARCHAR" property="permitManDept" />
    <result column="CLASS_ID" jdbcType="VARCHAR" property="classId" />
    <result column="FINISH_TIME" jdbcType="DATE" property="finishTime" />
    <result column="WORKER_COUNT" jdbcType="DECIMAL" property="workerCount" />
    <result column="STANDART_STATUS" jdbcType="VARCHAR" property="standartStatus" />
    <result column="STANDART_CHECK_MAN" jdbcType="VARCHAR" property="standartCheckMan" />
    <result column="STANDART_CHECK_TIME" jdbcType="DATE" property="standartCheckTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="DATE" property="lastUpdateDate" />
    <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
    <result column="CREATION_DATE" jdbcType="DATE" property="creationDate" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="LAST_UPDATE_LOGIN" jdbcType="DECIMAL" property="lastUpdateLogin" />
    <result column="ATTRIBUTE1" jdbcType="VARCHAR" property="attribute1" />
    <result column="ATTRIBUTE2" jdbcType="VARCHAR" property="attribute2" />
    <result column="ATTRIBUTE3" jdbcType="VARCHAR" property="attribute3" />
    <result column="ATTRIBUTE4" jdbcType="VARCHAR" property="attribute4" />
    <result column="ATTRIBUTE5" jdbcType="VARCHAR" property="attribute5" />
    <result column="ATTRIBUTE6" jdbcType="VARCHAR" property="attribute6" />
    <result column="ATTRIBUTE7" jdbcType="VARCHAR" property="attribute7" />
    <result column="ATTRIBUTE8" jdbcType="VARCHAR" property="attribute8" />
    <result column="ATTRIBUTE9" jdbcType="VARCHAR" property="attribute9" />
    <result column="ATTRIBUTE10" jdbcType="VARCHAR" property="attribute10" />
    <result column="ATTRIBUTE11" jdbcType="VARCHAR" property="attribute11" />
    <result column="ATTRIBUTE12" jdbcType="VARCHAR" property="attribute12" />
    <result column="ATTRIBUTE13" jdbcType="VARCHAR" property="attribute13" />
    <result column="ATTRIBUTE14" jdbcType="VARCHAR" property="attribute14" />
    <result column="ATTRIBUTE15" jdbcType="VARCHAR" property="attribute15" />
    <result column="ITEM_KEY" jdbcType="VARCHAR" property="itemKey" />
    <result column="PERMIT_MAN_CLASS" jdbcType="VARCHAR" property="permitManClass" />
    <result column="PRINCIPAL" jdbcType="DECIMAL" property="principal" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jul 06 09:32:15 CST 2016.
    -->
    WORK_TICKET_ID, TICKET_MODEL_CODE, STAUTS, MAIN_TICKET_ID, DETAIL_CONTENT, CONTENT, 
    EQUIP_KKS, ISQUALIFIED, SOURCE_ID, SAME_STANDARD, ORG_ID, DEPT_ID, TICKET_NUMBER, 
    SERIAL_NUMBER, PAGE_COUNT, CREATE_TIME, CREATE_MAN, WORKORDER_ID, SIGN_MAN, SIGN_TIME, 
    SIGN_MAN_DEPT, RECEIVE_MAN, RECEIVE_MAN_DEPT, RECEIVE_TIME, PERMIT_MAN, PERMIT_TIME, 
    PERMIT_MAN_DEPT, CLASS_ID, FINISH_TIME, WORKER_COUNT, STANDART_STATUS, STANDART_CHECK_MAN, 
    STANDART_CHECK_TIME, LAST_UPDATE_DATE, LAST_UPDATED_BY, CREATION_DATE, CREATED_BY, 
    LAST_UPDATE_LOGIN, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
    ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
    ATTRIBUTE14, ATTRIBUTE15, ITEM_KEY, PERMIT_MAN_CLASS, PRINCIPAL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from DIQ_TT_WORK_TICKET
    where WORK_TICKET_ID = #{workTicketId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">

    delete from DIQ_TT_WORK_TICKET
    where WORK_TICKET_ID = #{workTicketId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.github.jamsa.rap.model.User">
    insert into DIQ_TT_WORK_TICKET (WORK_TICKET_ID, TICKET_MODEL_CODE, STAUTS, 
      MAIN_TICKET_ID, DETAIL_CONTENT, CONTENT, 
      EQUIP_KKS, ISQUALIFIED, SOURCE_ID, 
      SAME_STANDARD, ORG_ID, DEPT_ID, 
      TICKET_NUMBER, SERIAL_NUMBER, PAGE_COUNT, 
      CREATE_TIME, CREATE_MAN, WORKORDER_ID, 
      SIGN_MAN, SIGN_TIME, SIGN_MAN_DEPT, 
      RECEIVE_MAN, RECEIVE_MAN_DEPT, RECEIVE_TIME, 
      PERMIT_MAN, PERMIT_TIME, PERMIT_MAN_DEPT, 
      CLASS_ID, FINISH_TIME, WORKER_COUNT, 
      STANDART_STATUS, STANDART_CHECK_MAN, STANDART_CHECK_TIME, 
      LAST_UPDATE_DATE, LAST_UPDATED_BY, CREATION_DATE, 
      CREATED_BY, LAST_UPDATE_LOGIN, ATTRIBUTE1, 
      ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
      ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, 
      ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, 
      ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
      ATTRIBUTE14, ATTRIBUTE15, ITEM_KEY, 
      PERMIT_MAN_CLASS, PRINCIPAL)
    values (#{workTicketId,jdbcType=DECIMAL}, #{ticketModelCode,jdbcType=VARCHAR}, #{stauts,jdbcType=VARCHAR}, 
      #{mainTicketId,jdbcType=DECIMAL}, #{detailContent,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{equipKks,jdbcType=VARCHAR}, #{isqualified,jdbcType=VARCHAR}, #{sourceId,jdbcType=DECIMAL}, 
      #{sameStandard,jdbcType=VARCHAR}, #{orgId,jdbcType=DECIMAL}, #{deptId,jdbcType=DECIMAL}, 
      #{ticketNumber,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, #{pageCount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=DATE}, #{createMan,jdbcType=VARCHAR}, #{workorderId,jdbcType=VARCHAR}, 
      #{signMan,jdbcType=VARCHAR}, #{signTime,jdbcType=DATE}, #{signManDept,jdbcType=VARCHAR}, 
      #{receiveMan,jdbcType=VARCHAR}, #{receiveManDept,jdbcType=VARCHAR}, #{receiveTime,jdbcType=DATE}, 
      #{permitMan,jdbcType=VARCHAR}, #{permitTime,jdbcType=DATE}, #{permitManDept,jdbcType=VARCHAR}, 
      #{classId,jdbcType=VARCHAR}, #{finishTime,jdbcType=DATE}, #{workerCount,jdbcType=DECIMAL}, 
      #{standartStatus,jdbcType=VARCHAR}, #{standartCheckMan,jdbcType=VARCHAR}, #{standartCheckTime,jdbcType=DATE}, 
      #{lastUpdateDate,jdbcType=DATE}, #{lastUpdatedBy,jdbcType=DECIMAL}, #{creationDate,jdbcType=DATE}, 
      #{createdBy,jdbcType=DECIMAL}, #{lastUpdateLogin,jdbcType=DECIMAL}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, 
      #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, 
      #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}, 
      #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR}, 
      #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR}, #{itemKey,jdbcType=VARCHAR}, 
      #{permitManClass,jdbcType=VARCHAR}, #{principal,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jamsa.rap.model.User">

    insert into DIQ_TT_WORK_TICKET
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="workTicketId != null">
        WORK_TICKET_ID,
      </if>
      <if test="ticketModelCode != null">
        TICKET_MODEL_CODE,
      </if>
      <if test="stauts != null">
        STAUTS,
      </if>
      <if test="mainTicketId != null">
        MAIN_TICKET_ID,
      </if>
      <if test="detailContent != null">
        DETAIL_CONTENT,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="equipKks != null">
        EQUIP_KKS,
      </if>
      <if test="isqualified != null">
        ISQUALIFIED,
      </if>
      <if test="sourceId != null">
        SOURCE_ID,
      </if>
      <if test="sameStandard != null">
        SAME_STANDARD,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="ticketNumber != null">
        TICKET_NUMBER,
      </if>
      <if test="serialNumber != null">
        SERIAL_NUMBER,
      </if>
      <if test="pageCount != null">
        PAGE_COUNT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createMan != null">
        CREATE_MAN,
      </if>
      <if test="workorderId != null">
        WORKORDER_ID,
      </if>
      <if test="signMan != null">
        SIGN_MAN,
      </if>
      <if test="signTime != null">
        SIGN_TIME,
      </if>
      <if test="signManDept != null">
        SIGN_MAN_DEPT,
      </if>
      <if test="receiveMan != null">
        RECEIVE_MAN,
      </if>
      <if test="receiveManDept != null">
        RECEIVE_MAN_DEPT,
      </if>
      <if test="receiveTime != null">
        RECEIVE_TIME,
      </if>
      <if test="permitMan != null">
        PERMIT_MAN,
      </if>
      <if test="permitTime != null">
        PERMIT_TIME,
      </if>
      <if test="permitManDept != null">
        PERMIT_MAN_DEPT,
      </if>
      <if test="classId != null">
        CLASS_ID,
      </if>
      <if test="finishTime != null">
        FINISH_TIME,
      </if>
      <if test="workerCount != null">
        WORKER_COUNT,
      </if>
      <if test="standartStatus != null">
        STANDART_STATUS,
      </if>
      <if test="standartCheckMan != null">
        STANDART_CHECK_MAN,
      </if>
      <if test="standartCheckTime != null">
        STANDART_CHECK_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdatedBy != null">
        LAST_UPDATED_BY,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="lastUpdateLogin != null">
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attribute1 != null">
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null">
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null">
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null">
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null">
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null">
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null">
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null">
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null">
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null">
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null">
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null">
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null">
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null">
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null">
        ATTRIBUTE15,
      </if>
      <if test="itemKey != null">
        ITEM_KEY,
      </if>
      <if test="permitManClass != null">
        PERMIT_MAN_CLASS,
      </if>
      <if test="principal != null">
        PRINCIPAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="workTicketId != null">
        #{workTicketId,jdbcType=DECIMAL},
      </if>
      <if test="ticketModelCode != null">
        #{ticketModelCode,jdbcType=VARCHAR},
      </if>
      <if test="stauts != null">
        #{stauts,jdbcType=VARCHAR},
      </if>
      <if test="mainTicketId != null">
        #{mainTicketId,jdbcType=DECIMAL},
      </if>
      <if test="detailContent != null">
        #{detailContent,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="equipKks != null">
        #{equipKks,jdbcType=VARCHAR},
      </if>
      <if test="isqualified != null">
        #{isqualified,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=DECIMAL},
      </if>
      <if test="sameStandard != null">
        #{sameStandard,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=DECIMAL},
      </if>
      <if test="ticketNumber != null">
        #{ticketNumber,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="pageCount != null">
        #{pageCount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createMan != null">
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="workorderId != null">
        #{workorderId,jdbcType=VARCHAR},
      </if>
      <if test="signMan != null">
        #{signMan,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=DATE},
      </if>
      <if test="signManDept != null">
        #{signManDept,jdbcType=VARCHAR},
      </if>
      <if test="receiveMan != null">
        #{receiveMan,jdbcType=VARCHAR},
      </if>
      <if test="receiveManDept != null">
        #{receiveManDept,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=DATE},
      </if>
      <if test="permitMan != null">
        #{permitMan,jdbcType=VARCHAR},
      </if>
      <if test="permitTime != null">
        #{permitTime,jdbcType=DATE},
      </if>
      <if test="permitManDept != null">
        #{permitManDept,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=DATE},
      </if>
      <if test="workerCount != null">
        #{workerCount,jdbcType=DECIMAL},
      </if>
      <if test="standartStatus != null">
        #{standartStatus,jdbcType=VARCHAR},
      </if>
      <if test="standartCheckMan != null">
        #{standartCheckMan,jdbcType=VARCHAR},
      </if>
      <if test="standartCheckTime != null">
        #{standartCheckTime,jdbcType=DATE},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null">
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateLogin != null">
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attribute1 != null">
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null">
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null">
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null">
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null">
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null">
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null">
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null">
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null">
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null">
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null">
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null">
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null">
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null">
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null">
        #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="itemKey != null">
        #{itemKey,jdbcType=VARCHAR},
      </if>
      <if test="permitManClass != null">
        #{permitManClass,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jamsa.rap.model.User">

    update DIQ_TT_WORK_TICKET
    <set>
      <if test="ticketModelCode != null">
        TICKET_MODEL_CODE = #{ticketModelCode,jdbcType=VARCHAR},
      </if>
      <if test="stauts != null">
        STAUTS = #{stauts,jdbcType=VARCHAR},
      </if>
      <if test="mainTicketId != null">
        MAIN_TICKET_ID = #{mainTicketId,jdbcType=DECIMAL},
      </if>
      <if test="detailContent != null">
        DETAIL_CONTENT = #{detailContent,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="equipKks != null">
        EQUIP_KKS = #{equipKks,jdbcType=VARCHAR},
      </if>
      <if test="isqualified != null">
        ISQUALIFIED = #{isqualified,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        SOURCE_ID = #{sourceId,jdbcType=DECIMAL},
      </if>
      <if test="sameStandard != null">
        SAME_STANDARD = #{sameStandard,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=DECIMAL},
      </if>
      <if test="ticketNumber != null">
        TICKET_NUMBER = #{ticketNumber,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="pageCount != null">
        PAGE_COUNT = #{pageCount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="createMan != null">
        CREATE_MAN = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="workorderId != null">
        WORKORDER_ID = #{workorderId,jdbcType=VARCHAR},
      </if>
      <if test="signMan != null">
        SIGN_MAN = #{signMan,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        SIGN_TIME = #{signTime,jdbcType=DATE},
      </if>
      <if test="signManDept != null">
        SIGN_MAN_DEPT = #{signManDept,jdbcType=VARCHAR},
      </if>
      <if test="receiveMan != null">
        RECEIVE_MAN = #{receiveMan,jdbcType=VARCHAR},
      </if>
      <if test="receiveManDept != null">
        RECEIVE_MAN_DEPT = #{receiveManDept,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null">
        RECEIVE_TIME = #{receiveTime,jdbcType=DATE},
      </if>
      <if test="permitMan != null">
        PERMIT_MAN = #{permitMan,jdbcType=VARCHAR},
      </if>
      <if test="permitTime != null">
        PERMIT_TIME = #{permitTime,jdbcType=DATE},
      </if>
      <if test="permitManDept != null">
        PERMIT_MAN_DEPT = #{permitManDept,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        CLASS_ID = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        FINISH_TIME = #{finishTime,jdbcType=DATE},
      </if>
      <if test="workerCount != null">
        WORKER_COUNT = #{workerCount,jdbcType=DECIMAL},
      </if>
      <if test="standartStatus != null">
        STANDART_STATUS = #{standartStatus,jdbcType=VARCHAR},
      </if>
      <if test="standartCheckMan != null">
        STANDART_CHECK_MAN = #{standartCheckMan,jdbcType=VARCHAR},
      </if>
      <if test="standartCheckTime != null">
        STANDART_CHECK_TIME = #{standartCheckTime,jdbcType=DATE},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null">
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateLogin != null">
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attribute1 != null">
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null">
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null">
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null">
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null">
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null">
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null">
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null">
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null">
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null">
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null">
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null">
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null">
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null">
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null">
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="itemKey != null">
        ITEM_KEY = #{itemKey,jdbcType=VARCHAR},
      </if>
      <if test="permitManClass != null">
        PERMIT_MAN_CLASS = #{permitManClass,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        PRINCIPAL = #{principal,jdbcType=DECIMAL},
      </if>
    </set>
    where WORK_TICKET_ID = #{workTicketId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jamsa.rap.model.User">

    update DIQ_TT_WORK_TICKET
    set TICKET_MODEL_CODE = #{ticketModelCode,jdbcType=VARCHAR},
      STAUTS = #{stauts,jdbcType=VARCHAR},
      MAIN_TICKET_ID = #{mainTicketId,jdbcType=DECIMAL},
      DETAIL_CONTENT = #{detailContent,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      EQUIP_KKS = #{equipKks,jdbcType=VARCHAR},
      ISQUALIFIED = #{isqualified,jdbcType=VARCHAR},
      SOURCE_ID = #{sourceId,jdbcType=DECIMAL},
      SAME_STANDARD = #{sameStandard,jdbcType=VARCHAR},
      ORG_ID = #{orgId,jdbcType=DECIMAL},
      DEPT_ID = #{deptId,jdbcType=DECIMAL},
      TICKET_NUMBER = #{ticketNumber,jdbcType=VARCHAR},
      SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR},
      PAGE_COUNT = #{pageCount,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      CREATE_MAN = #{createMan,jdbcType=VARCHAR},
      WORKORDER_ID = #{workorderId,jdbcType=VARCHAR},
      SIGN_MAN = #{signMan,jdbcType=VARCHAR},
      SIGN_TIME = #{signTime,jdbcType=DATE},
      SIGN_MAN_DEPT = #{signManDept,jdbcType=VARCHAR},
      RECEIVE_MAN = #{receiveMan,jdbcType=VARCHAR},
      RECEIVE_MAN_DEPT = #{receiveManDept,jdbcType=VARCHAR},
      RECEIVE_TIME = #{receiveTime,jdbcType=DATE},
      PERMIT_MAN = #{permitMan,jdbcType=VARCHAR},
      PERMIT_TIME = #{permitTime,jdbcType=DATE},
      PERMIT_MAN_DEPT = #{permitManDept,jdbcType=VARCHAR},
      CLASS_ID = #{classId,jdbcType=VARCHAR},
      FINISH_TIME = #{finishTime,jdbcType=DATE},
      WORKER_COUNT = #{workerCount,jdbcType=DECIMAL},
      STANDART_STATUS = #{standartStatus,jdbcType=VARCHAR},
      STANDART_CHECK_MAN = #{standartCheckMan,jdbcType=VARCHAR},
      STANDART_CHECK_TIME = #{standartCheckTime,jdbcType=DATE},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      CREATION_DATE = #{creationDate,jdbcType=DATE},
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      ITEM_KEY = #{itemKey,jdbcType=VARCHAR},
      PERMIT_MAN_CLASS = #{permitManClass,jdbcType=VARCHAR},
      PRINCIPAL = #{principal,jdbcType=DECIMAL}
    where WORK_TICKET_ID = #{workTicketId,jdbcType=DECIMAL}
  </update>


  <select id="selectForPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from DIQ_TT_WORK_TICKET
  </select>
</mapper>